name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  SQLX_OFFLINE: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose -- --test-threads=1
      env:
        DATABASE_URL: postgres://postgres:postgres@localhost:5432/test_db
        RUST_LOG: debug

    - name: Run tests (ignored)
      run: cargo test --verbose -- --ignored --test-threads=1
      continue-on-error: true
      env:
        DATABASE_URL: postgres://postgres:postgres@localhost:5432/test_db
